<div class='account-page' id='account-page'>
  <div class='account-page__inner clearfix'>
    <div class='account-page__inner--left account-page__header'>
      <h2>Create Account</h2>
      <h5>新規アカウントの作成</h5>
    </div>
    <div class='account-page__inner--right user-form'>
      <%= form_with model: resource, as: resource_name, url: registration_path(resource_name), local: true do |f|%>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :name%>
          </div>
          <div class='field-input'>
            <%= f.text_field :name, autofocus: true%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :email%>
          </div>
          <div class='field-input'>
            <%= f.email_field :email%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :password%>
            <i>(英数字6文字以上)</i>
          </div>
          <div class='field-input'>
            <%= f.password_field :password, autocomplete: "off"%>
          </div>
        </div>
        <div class='field'>
          <div class='field-label'>
            <%= f.label :password_confirmation%>
          </div>
          <div class='field-input'>
            <%= f.password_field :password_confirmation, autocomplete: "off"%>
          </div>
        </div>

           <div class='field'>
          <div class='field-label'>
            <%= f.label :school_name%>
              <i>教室名 (※任意)</i>
          </div>
          <div class='field-input'>
            <%= f.text_field :school_name, autofocus: true%>
          </div>
        </div>
             <div class='field'>
          <div class='field-label'>
            <%= f.label :address%>
               <i>教室の住所 (※任意)</i>
          </div>
          <div class='field-input'>
            <%= f.text_field :address, autofocus: true%>
          </div>
        </div>

               <div class='field'>
          <div class='field-label'>
            <%= f.label :telephone_number%>
              <i>教室の電話番号 (※任意)</i>
          </div>
          <div class='field-input'>
            <%= f.text_field :telephone_number, autofocus: true%>
          </div>
        </div>
                <div class='field'>

          <div class='field-label'>
            <%= f.label :teacher_name%>
              <i>教室長の名前 (※任意)</i>
          </div>
          <div class='field-input'>
            <%= f.text_field :teacher_name, autofocus: true%>
          </div>
        </div>
            <div class='field'>

              <div class='field-label'>
            <%= f.label :school_content%>
            <i>教室の内容 (※任意)</i>
          </div>
          <div class='field-input'>
            <%= f.text_field :school_content, autofocus: true%>
          </div>
        </div>


        <div class='actions'>
          <%= f.submit "Create Account", class: 'btn'%>
        </div>
      </div>
    <% end %>
  </div>
</div>
