<div class="container">
<h3><%= @user.name%>さんのマイページ</h3>





<% if @user.id == current_user.id %>

<% else %>
  <% if @isRoom == true %>
    <p class="btn btn-light"><a href="/rooms/<%= @roomId %>">チャットへ</a></p>
  <% else %>
    <%= form_for @room do |f| %>
      <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, :value=> @user.id %>
      <% end %>
      <%= f.submit "チャットを始める" %>
    <% end %>
  <% end %>
<% end %>





<table class="table table-striped table-bordered">


  <tbody>
    <tr>
      <th scope="row">教室名</th>
      <td><%= @user.school_name %></td>

    </tr>
       <tr>
      <th scope="row">住所</th>
      <td><%= @user.address %></td>

    </tr>
       <tr>
      <th scope="row">電話番号</th>
      <td><%= @user.telephone_number %></td>

    </tr>
       <tr>
      <th scope="row">教室長</th>
      <td><%= @user.teacher_name %></td>

    </tr>
       <tr>
      <th scope="row">教室内容</th>
      <td><%= @user.school_content %></td>

    </tr>

  </tbody>
</table>

</div>
