<div class="container mypage">
  <% breadcrumb :users,@user %>
  <div class="myname">
    <h3><%= @user.name%>さんのマイページ</h3>
  </div>

  <%= image_tag @user.image.variant(resize: '300x200'), class: 'post-image' if @user.image.attached? %>
  <% if @user.id == current_user&.id %>
    <%= render partial: 'relationships/follow_list', collection: @users %>
  <% else %>
    <br class="d-sm-none" />

    <% if current_user&.following?(@user) %>
      <%= link_to 'フォロー外す', user_relationships_path(@user.id), method: :delete, class: "btn-sm btn-danger text-decoration-none follow_btn" %>
    <% else %>
      <%= link_to 'フォローする', user_relationships_path(@user.id), method: :POST, class:"btn-sm btn-success text-decoration-none follow_btn" %>
    <% end %>
  <% end %>
  <br class="d-sm-none" />

  <%= link_to follows_user_path(@user),class: "text-decoration-none" do %>
    <div class="btn btn-secondary">フォロー<%= @following_users.count %></div>
  <% end %>

  <%= link_to followers_user_path(@user),class: "text-decoration-none" do %>
    <div class="btn btn-secondary">フォロワー<%= @follower_users.count %></div>
  <% end %>
<br>

  <% if @user.id == current_user&.id %>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <%= link_to "プロフィール編集", edit_user_path(@user.id), class: "post btn btn-outline-info" %>
    <%= link_to "DM一覧", rooms_path, class: "post btn btn-outline-info" %>
    </div>
  <% else %>
    <% if @isRoom == true %>
      <%# 既に部屋は存在しているかどうか %>
      <div class="btn btn-secondary"><a class="text-decoration-none text-white" href="/rooms/<%= @roomId %>">チャットへ</div>
    <% else %>
      <%= form_for @room do |f| %>
        <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, :value=> @user.id %>
        <% end %>
        <%= f.submit "チャットを始める" ,class: "btn btn-secondary chat_btn"%>
      <% end %>
    <% end %>
  <% end %>

  <table class="table table-striped table-bordered mt-5">
    <tbody>
      <tr>
        <th scope="row">教室名</th>
        <td><%= @user.school_name %></td>
      </tr>
      <tr>
        <th scope="row">住所</th>
        <td><%= @user.address %></td>
      </tr>
      <tr>
        <th scope="row">電話番号</th>
        <td><%= @user.telephone_number %></td>
      </tr>
      <tr>
        <th scope="row">教室長</th>
        <td><%= @user.teacher_name %></td>
      </tr>
      <tr>
        <th scope="row">教室内容</th>
        <td><%= @user.school_content %></td>
      </tr>
    </tbody>
  </table>
</div>
