<div class= "container">


<h1>DM</h1>

<h4>参加者</h4>
<% @entries.each do |e| %>
  <h5><strong><a href="/users/<%= e.user.id %>"><%= e.user.name%>さん</a></strong></h5>
<% end %>

<hr>
<% if @messages.present? %>
  <% @messages.each do |m| %>
    <%= m.user.name %>さん
    <div class="date_time text-secondary text-right">
     <%= m.created_at%>
     </div>

    <div class="message pt-3">
    <%= m.content %>
    </div>

    <hr>
  <% end %>
<% else %>
  <h3 class="text-center">メッセージはまだありません</h3>
<% end %>

<%= form_for @message do |f| %>
<div class="d-flex pb-5">
  <%= f.text_field :content, placeholder: "メッセージを入力して下さい" , rows: 15,class:"form-control"%>
  <%= f.hidden_field :room_id, value: @room.id %>
  <%= f.submit "投稿する",class:"btn btn-secondary" %>
  </div>
<% end %>

</div>
