<div class="col-lg-4 col-md-6 offset-2 position-relative">
  <%= link_to(user_path(post.user_id), class: 'list-content text-decoration-none' ) do%>
    <div class="card mt-5" style="width: 18rem;">
      <%= image_tag post.image.variant(resize: '300x200' ), class: 'card-img-top' if post.image.attached? %>
      <div class="card-body">
        <h5 class="card-title text-dark">教室名:<%= post.user.school_name %></h3>
        <p class="card-text text-dark"><%= post.text %></p>
        <p class="card-text text-dark">住所:<%= post.user.address %></p>
      <% end %>
    </div>
    <div id="favorite_buttons_<%= post.id %>">
      <%= render "favorites/favorites", post: post %>
    </div>
</div>

    <% if post.user_id == current_user&.id %>
      <div class="delete_button d-inline  justify-content-end position-absolute">
        <div class="three_button">︙
        <%= link_to '削除', post_path(post.id), method: :delete,class:"btn-delete hidden_img delete", data: {confirm: "削除しますか？"} %>
        </div>
      </div>
    <% end %>
</div>
