<div class = "wrap">

<div class="jumbotron text-center hero img">
<h1>気になる教室の先生とワンクリックでチャットができる!</h1>
<h2>~あなたにぴったりの教室が見つかる~</h2>
<h3 class="mt-5">徳島のプログラミング教室検索サイト</h3>

  <%#= image_tag 'school.jpg', class: 'img-fluid' %>

  <%= link_to "今すぐ新規登録" , new_user_registration_path, class: "btn btn-primary mt-sm-5"%>
        </li>

</div>

</div>


<div class = "container">

  <h2 class="school-list text-center">教室情報</h2>

       <div class = "post_button">
<%= link_to "教室の掲載したい人はこちら",new_post_path,{class:"btn btn-success"}%>
</div>






 <div class="row row-cols-auto mb-5">
 <% @posts.each do |post| %>
 <div class="col-lg-4 col-md-6 offset-2">
<%= link_to(user_path(post.user_id), class: 'list-content text-decoration-none' ) do%>

<div class="card" style="width: 18rem;">

  <%= image_tag post.image.variant(resize: '300x200' ), class: 'card-img-top' if post.image.attached? %>

	<div class="card-body">

    <h3 class="card-title text-dark">教室名:<%= post.user.school_name %></h3>

          <p class="card-text text-dark"><%= post.text %></p>
           <% end %>

    <% if post.user_id == current_user&.id %>
    <div class=" d-flex justify-content-end">
   <div id="three_button">︙

   <%= link_to '削除', post_path(post.id), method: :delete,class:"btn-delete hidden",id:"delete", data: {confirm: "削除しますか？"} %>

   </div>
   </div>



	</div>
</div>


</div>
  <% end %>


  <% end %>
</div>

 </div>
