  <div class= "container">
  <%= form_with(model: @post, local: true) do |form| %>
<div class="mb-3">
  <div class="field">
    <%= form.label :image, "画像" %><br />
    <%= form.file_field :image, id:"post_image" %>
  </div>
  <div class="form-label mt-5">
  <label for="exampleFormControlTextarea1" class="form-label">記事内容</label>
  </div>


    <%= form.text_area :text, placeholder: "text", rows: "3" , class:"form-control mt-1",id: "exampleFormControlTextarea1"%>

    <div class="text-center mt-5">
    <%= form.submit "教室の掲載を依頼" ,class:"btn btn-success" %>
    </div>

</div>

<% end %>

</div>
