<!DOCTYPE html>
<html>
  <head>
    <title>AwaTech</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
     <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css">
  </head>

  <body>
     <header class="header">
      <div class="header_bar">

        <h1 class="app-title"><a href="/">AwaTech</a></h1>
        <i class="fa-solid fa-computer"></i>

        <div class = "nav_button">

          <% if user_signed_in? %>

          <div class="user_nav">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete ,class: "btn btn-primary" %>

          </div>
        <% else %>
          <div class="user_nav">
            <%= link_to "ログイン", new_user_session_path, class: "post btn btn-primary" %>
            <%= link_to "新規登録", new_user_registration_path, class: "post btn btn-primary" %>
          </div>

          </div>
        <% end %>

      </div>
    </header>
    <%= yield %>

        <footer>
      <p>
        Copyright AwaTech 2022.
      </p>
    </footer>
  </body>
</html>
